* {
    font-size: 13px;
    font-weight: bold;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}


.work {
    height: 793px;
    display: flex;
}

.terminal {
    overflow-y: auto;
    text-align: center;
}

.terminal .tab-content {
    height: 100%;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.terminal .data-tab {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #efefef;
    width: 100%;
}

.data-tab a {
    padding: 2px 15px !important;
    border-radius: 0px !important;
}

.market {
    min-width: 268px;
    max-width: 268px;
    height: 100%;
    text-align: center;
}

.chart {
    height: 100%;
}

.chart-head {
    height: 35px;
    float: bottom;
}

.chart-minute {
    height: 150px;
}

.ticker {
    height: 100%;
    min-width: 300px;
    max-width: 300px;
    text-align: center;
}

.ticker-button {
    width: 100%;
}